@model PostListViewModel
@{
    ViewData["Title"] = "Post";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2 class="text-center" style="margin-bottom: 20px;">Post</h2>

<button>
    <a asp-action="CreatePost">Create New</a>
</button>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Author
            </th>
            <th>
                Posted on
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Posts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostedOn)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditPost", new { id = item.Id }) |
                    <a asp-controller="Post" asp-action="Detail" asp-route-postId="@item.Id" target="_blank">View</a> |
                    @Html.ActionLink("Delete", "DeletePost", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>