@model Tuple<Post, Comment>
@{
    ViewData["Title"] = "Detail";
}

    <div class="single-post">
        <div class="image-wrapper"><img src="@Html.DisplayFor(modelItem => Model.Item1.ImgSrc)" alt="Blog Image"></div>

        <div class="icons">
            <div class="left-area">
                <a class="btn caegory-btn" href="#"><b>TRAVELLLL</b></a>
            </div>
            <ul class="right-area social-icons">
                <li><a href=""><i class="ion-android-share-alt"></i>Share</a></li>
                <li><a href=""><i class="ion-android-favorite-outline"></i>03</a></li>
                <li><a href=""><i class="ion-android-textsms"></i>@Model.Item1.NumOfComment</a></li>
            </ul>
        </div>
        <p class="date"><em>@Html.DisplayFor(modelItem => Model.Item1.PostedOn)</em></p>
        <h3 class="title"><a href="#"><b class="light-color">@Html.DisplayFor(modelItem => Model.Item1.Title)</b></a></h3>
        @*@Html.DisplayFor(modelItem => Model.Description)*@

        <div style="background-color: white; color: #383838; cursor: auto; font-family: &quot;Open Sans&quot;, sans-serif; font-size: 19px; margin-bottom: 0.875em; user-select: text !important;">
            <span style="user-select: text !important;"></span><br />
            <h1 class="entry-title" style="-webkit-font-smoothing: antialiased; clear: both; color: #333332; cursor: auto; font-family: &quot;Roboto Slab&quot;, serif; font-size: 47px; font-weight: 300; line-height: 1.3; margin: 0px; overflow-wrap: break-word; user-select: text !important;">
                Developer tìm việc như thế&nbsp;nào?
            </h1>
            <span style="user-select: text !important;"><br /></span>
            <span style="user-select: text !important;">Một câu hỏi thường gặp của những bạn sinh viên mới ra trường, thậm chí là những bạn junior developer dưới một năm kinh nghiệm đó là: Developer tìm việc như thế nào?&nbsp;</span>
        </div>
        <div style="background-color: white; color: #383838; cursor: auto; font-family: &quot;Open Sans&quot;, sans-serif; font-size: 19px; margin-bottom: 0.875em; user-select: text !important;">
            <span style="user-select: text !important;">Mình đã từng trả lời rất nhiều câu hỏi dạng như vậy nên hôm nay mình sẽ chia sẻ một số kinh nghiệm của mình trong quá trình “lăn lộn ra đường kiếm ăn”.</span><span id="more-8253" style="user-select: text !important;"></span>
        </div>
        <h2 style="background-color: white; clear: both; color: #333332; cursor: auto; font-family: &quot;Roboto Slab&quot;, serif; font-size: 32px; font-weight: 300; line-height: 1.1; margin-bottom: 0.4375em; margin-top: 0.875em; user-select: text !important;">
            <span style="user-select: text !important;">Mình tìm việc hay việc tìm mình</span>
        </h2>
        <div style="background-color: white; color: #383838; cursor: auto; font-family: &quot;Open Sans&quot;, sans-serif; font-size: 19px; margin-bottom: 0.875em; user-select: text !important;">
            <span style="user-select: text !important;">Kinh nghiệm của mình sau nhiều năm làm việc đó là mình hãy chủ động để công việc tìm đến với mình thay vì mình chủ động đi tìm việc.</span>
        </div>
        <div style="background-color: white; color: #383838; cursor: auto; font-family: &quot;Open Sans&quot;, sans-serif; font-size: 19px; margin-bottom: 0.875em; user-select: text !important;">
            <span style="user-select: text !important;">Để công việc có thể tìm đến với mình cách tốt nhất và duy nhất đó là xây dựng một profile thật đẹp trên các trang web mạng xã hội tìm kiếm việc làm lớn. Trang web lớn nhất mà các bạn nên biết và tạo profile đó chính là Linkedin. Hãy coi profile Linkedin như CV của mình và thường xuyên update thông tin trên đó.</span>
        </div>
        <div style="background-color: white; color: #383838; cursor: auto; font-family: &quot;Open Sans&quot;, sans-serif; font-size: 19px; margin-bottom: 0.875em; user-select: text !important;">
            <span style="user-select: text !important;">Một profile đẹp là một profile có đầy đủ các thông tin như</span>
        </div>
        <ul style="background-color: white; color: #383838; font-family: &quot;Open Sans&quot;, sans-serif; font-size: 19px; list-style-position: outside; margin: 0px 0px 1.75em 2em; padding: 0px;">
            <li style="margin-top: 0.4375em;"><span style="user-select: text !important;">Đầy đủ thông tin cá nhân, và một số kênh chính thống để liên lạc (email, skype), nên chọn một bức hình nghiêm túc để làm ảnh đại diện.</span></li>
            <li style="margin-top: 0.4375em;"><span style="user-select: text !important;">Ghi phần thông tin overall một cách ngắn gọn và thể hiện đầy đủ thông tin để người đọc có thể biết được bạn có những khả năng gì và kinh nghiệm ra sao. Ngoài ra nếu các bạn có những điểm nổi trội nào khác như account Github, hay blog cá nhân các bạn cũng nên thêm vào, đây sẽ là những điểm cộng đối với một profile Linkedin.</span></li>
            <li style="margin-top: 0.4375em;"><span style="user-select: text !important;">Phần kinh nghiệm làm việc sẽ là một phần “ăn điểm” nếu như bạn viết đầy đủ về công ty, dự án cũng như vai trò của bạn trong mỗi dự án, hoặc đơn giản hơn các bạn có thể bê nguyên si CV vào cũng được.</span></li>
            <li style="margin-top: 0.4375em;"><span style="user-select: text !important;">Ngoài ra thì các bạn nên connect với bạn bè, đồng nghiệp, nếu profile của các bạn có nhiều feedback, nó sẽ tạo nên sự tin tưởng hơn với người đọc.</span></li>
        </ul>
        <div style="background-color: white; color: #383838; cursor: auto; font-family: &quot;Open Sans&quot;, sans-serif; font-size: 19px; margin-bottom: 0.875em; user-select: text !important;">
            <span style="user-select: text !important;">Đây là profile Linkedin của mình (</span><a href="https://www.linkedin.com/in/nguyennhathoang/" rel="noopener" style="background-color: transparent; color: #0087be; text-decoration-line: none; user-select: text !important;" target="_blank">https://www.linkedin.com/in/nguyennhathoang/</a><span style="user-select: text !important;">), các bạn có thể ngó qua nhé.</span>
        </div>
        <div style="background-color: white; color: #383838; cursor: auto; font-family: &quot;Open Sans&quot;, sans-serif; font-size: 19px; margin-bottom: 0.875em; user-select: text !important;">
            <span style="user-select: text !important;">Ngoài ra mình cũng để profile trên một số trang web khác ví dụ như&nbsp;<a href="https://glints.com/vn" rel="noopener" style="background-color: transparent; color: #0087be; text-decoration-line: none; user-select: text !important;" target="_blank">Glints</a>, AngelList. Ngoài Linkedin thì những trang web này sẽ hỗ trợ tốt hơn cho các bạn để có thể gặp gỡ những loại công ty cụ thể, ví dụ như AngelList là nơi tập trung rất nhiều công ty startup. Hay Glints là một nền tảng giúp các bạn có thể tiết kiệm rất nhiều thời gian khi tìm việc. Nhưng đừng lo lắng quá về việc các bạn phải tạo nhiều profile, đối với những nền tảng khác các bạn đều có thể import trực tiếp dữ liệu từ Linkedin thay vì phải viết lại từ đầu, thế nên chăm chút cho profile Linkedin là đủ rồi.&nbsp;</span>
        </div>
        <div style="background-color: white; color: #383838; cursor: auto; font-family: &quot;Open Sans&quot;, sans-serif; font-size: 19px; margin-bottom: 0.875em; user-select: text !important;">
            <span style="user-select: text !important;">Gần đây, mình nghe tin Glints cũng sắp có mặt tại Việt Nam. Glints có một chức năng tên&nbsp;<a href="http://talenthunt.glints.com/vn/talent" rel="noopener" style="background-color: transparent; color: #0087be; text-decoration-line: none; user-select: text !important;" target="_blank">TalentHunt</a>&nbsp;khá hay. Sau khi tạo profile, các công ty match với skill của bạn sẽ chủ động kết nối với bạn. Glints sẽ có người hỗ trợ bạn phỏng vấn, deal lương. Việc này sẽ giúp bạn tiết kiệm được khá nhiều thời gian lẫn công sức, vì chỉ cần tạo profile, không cần tốn công đi tìm việc hay nộp đi đâu cả.</span>
        </div>
        <div style="background-color: white; color: #383838; cursor: auto; font-family: &quot;Open Sans&quot;, sans-serif; font-size: 19px; margin-bottom: 0.875em; user-select: text !important;">
            <span style="user-select: text !important;">Bạn nào quan tâm thì có thể ghé qua&nbsp;</span><a href="http://talenthunt.glints.com/vn/talent" rel="noopener" style="background-color: transparent; color: #0087be; text-decoration-line: none; user-select: text !important;" target="_blank">http://talenthunt.glints.com/vn/talent</a><span style="user-select: text !important;">&nbsp;để trải nghiệm thử nhé.</span>
        </div>


        @*comment area*@ 
    <div class="comments-area">
        <h4 class="title"><b class="light-color">@Model.Item1.NumOfComment Comments</b></h4>
        @foreach (var cmt in @ViewBag.listComment)
        {
            <div class="comment">
                <div class="author-image"><img src="~/images/user.png" alt="Autohr Image"></div>
                <div class="comment-info">
                    <h5><b class="light-color">@cmt.Username</b></h5>
                    <h6 class="date"><em>@cmt.PostedOn</em></h6>
                    <p>
                        @cmt.CmtContent
                    </p>
                </div>
            </div><!-- comment -->
        }


    </div><!-- comments-area -->

        <div class="leave-comment-area">
            <h4 class="title"><b class="light-color">Leave a comment</b></h4>
            <div class="leave-comment">

                <form method="post" asp-action="CreateComment">
                    <div class="row">
                        <div class="col-sm-6">
                            <input asp-for="@Model.Item2.Username" class="name-input" type="text" placeholder="Name" name="Username">
                        </div>
                        <div class="col-sm-6">
                            <input asp-for="@Model.Item2.Email" class="email-input" type="text" placeholder="Email" name="Email">
                        </div>
                        <div class="col-sm-12">
                            <textarea asp-for="@Model.Item2.CmtContent" class="message-input" rows="6" placeholder="Write comment here..." name="CmtContent"></textarea>
                        </div>
                        <input type="hidden" asp-for="@Model.Item2.PostId" value="@Model.Item1.Id" name="PostId" />
                        <div class="col-sm-12">
                            <button class="btn btn-2"><b>COMMENT</b></button>
                        </div>

                    </div><!-- row -->
                </form>

            </div><!-- leave-comment -->

        </div><!-- comments-area -->
    </div>

