@model PostListViewModel

<div class="text-center" style="margin-bottom: 20px">
    <a class="btn" style="width: 100%"><h5>MỚI NHẤT</h5></a>
</div>

@foreach (var item in Model.Posts)
{
    <div class="single-post">
        <div class="image-wrapper"><img src="@item.ImgSrc" runat="server" alt="Blog Image"></div>

        <div class="icons">
            @*<div class="left-area">
                    <a class="btn caegory-btn" href="#"><b>TRAVEL</b></a>
                </div>*@
            <ul class="right-area social-icons">
                <li><a href="#"><i class="ion-android-share-alt"></i>Share</a></li>
                <li><a href="#"><i class="ion-android-favorite-outline"></i>03</a></li>
                <li><a href="#"><i class="ion-android-textsms"></i>@item.NumOfComment</a></li>
            </ul>
        </div>
        <h2 class="title">
            <a asp-controller="Post" asp-action="Detail" asp-route-postId="@item.Id">
                <b class="light-color">@Html.DisplayFor(modelItem => item.Title)</b>
            </a>
        </h2>
        <p class="date"><em>@Html.DisplayFor(modelItem => item.PostedOn)</em></p>
        <p>
            @Html.DisplayFor(modelItem => item.ShortDescription)
        </p>
        <a class="btn read-more-btn" asp-controller="Post" asp-action="Detail" asp-route-postId="@item.Id"><b>READ MORE</b></a>
    </div><!-- single-post -->
}
